<h1>Lista de Usuarios</h1>

<div class="row">
  <div class="col-sm-9">
    <p>Aqui se listan todos los usuarios del sistema de Borracheras.</p>
  </div>
  <div class="col-sm-3">
    <a href="/CrearUsuario" class="btn btn-block btn-success">
      Crear Usuario
    </a>
  </div>
</div>
<br>

<% for(var i=0; i<usuarios.length; i++) {%>
<div class="row ma-margen-top-bottom">
  <div class="col-sm-1"></div>
  <div class="col-sm-4">
    <div class="text-center ma-borde ma-padding-top-bottom">
      <h1> <%= usuarios[i].nombre %></h1>
    </div>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-4 text-center">
    <div class="text-center ma-borde" style="margin-top: 40px;">
      <p>
        Ciudad: <%= usuarios[i].ciudadResidencia %>
      </p>
      <p>
        Fecha Nacimiento:<%= usuarios[i].fechaNacimiento %>
      </p>
      <p>
        Borrachera:<%= usuarios[i].idBorrachera %>
      </p>
    </div>
  </div>
  <div class="col-sm-2">
    <a href="/Usuario/borrarUsuario?id=<%= usuarios[i].id %>" class="btn btn-danger btn-block">Eliminar</a>
    <a href="/actualizarUsuarioRuta?id=<%= usuarios[i].id %>" class="btn btn-info btn-block">Actualizar</a>
  </div>
</div>
<% }%>
